:root{
    --color-text: #000;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #ececf0;

    --color-light-green: #83f28f;

    --font-robot: "Roboto";
}